/* src/App.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

body {
  margin: 0;
  font-family: Roboto , Arial;
  letter-spacing: 1.5px;
  background-color: #121A26;
  color: #E2E8F0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #1A222F;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #E2E8F0;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 40px;
}

.navbar-link {
  text-decoration: none;
  color: #94A3B8;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #E2E8F0; 
}

.navbar-auth {
  display: flex;
  gap: 20px;
}

.auth-button {
  background-color: #3B82F6;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.auth-button:hover {
  background-color: #2563EB;
  transform: translateY(-2px);
}

.main-content {
  text-align: center;
  padding: 80px 20px;
}

.main-title {
  font-size: 40px;
  /* font-weight: bold; */
  line-height: 1.2;
  margin-bottom: 50px;
  color: white;
}

.main-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Updated styles to match your previous buttons */
.main-btn {
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(161, 161, 161);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-btn:hover {
  transform: translateY(-2px);
}

/* The active state for both buttons */
.main-btn.active-btn {
  background-color: dodgerblue;
  transform: translateY(-2px);
}
.footer {
  text-align: center;
  padding: 20px;
  color: #94A3B8;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* z-index: 0; */
}